*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ededed;
  font-family: helvetica, arial, arial, sans-serif;
  font-size: 7vw;
  text-transform: lowercase;
  text-align: center;
  margin-top: 5vw;
  width: 100%;
}

div {
  background: #fff;
  border-radius: 1vw;
  border: 1px solid #fff;
  margin: 5vw;
  padding: 2vw;
}

div div {
  margin: 0 auto;
  padding: 0;
}

label, input {
  font-size: 7vw;
  width: 50%;
}

input {
  padding: 1vw;
  margin: 1vw;
}

h1, h2, h3, ul, ul li, p {
  text-transform: none;
}

.nav-link {
  margin: 2vw;
}
